<div class="container">
    <div class="row">
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
        </div>
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 home-content">
            <div class="jumbotron text-center">
                <h2>Planowanie kursu lini autobusowej</h2>
                <hr>
                <br>
                <p>
                    Aplikacja słuzy do zaplanowania kursu linii autobusowej. Łączy się ona z serwerem Javy, kóry to za pomocą Spring Data JPA
                    komunikuję się z bazą danych. Umożliwia to manipulowanie bazą z poziomu tego serwisu webowego.
                </p>
                <p>
                    Możemy wybrać trasę oraz rozkład jazdy dla kursu. Następnie wybieramy autokar o odpowiednim standardzie oraz 3 osobową załogę.
                </p>
                <hr>
                <a class="btn btn-lg btn-success" ng-click="goToRoutesSelection()" role="button">Kliknij aby stworzyć kurs !</a>

            </div>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
        </div>
    </div>
</div>