<div class="container">
    <div class="row">
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
        </div>
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 home-content">
            <div class="jumbotron text-center">
                <h1>Kursy</h1>
            </div>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
        </div>
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 home-content">
            <button type="button" class="btn btn-primary" ng-click="addRide()">Dodaj kurs</button>
            
            <div ng-repeat="ride in rides">
                <div class="subpage-content-div profileOverview">
                    <p>Kurs numer: {{ride.id}}</p>
                    <p>Według rozkładu nr: <span class="level-badge">{{ride.timetableId}}</span> </p>
                    <p>Data kursu: <span class="points-badge">{{ride.date}}</span> </p>
                </div>
                <br><br>
            </div>


        </div>
        <div class="col-xs-1 col-xs-1 col-xs-1 col-xs-1">
        </div>
    </div>




</div>